h1 {
	text-align: center;
	font-family: 'Playfair Display', serif;
	background-color: #151414;
	border-radius: 75%;
	width: 600px;
	margin: 30px auto;
	color:white;

}
.center {
	text-align: center;
}
p	{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color:white;
}
h3{
	border: 5px dashed #FFFFFF;
	font-family: 'Baloo Chettan 2', cursive;
	color:white;
}
h2{
	text-align: center;
	font-family: 'Playfair Display', serif;
	text-shadow:0px 5px 10px #00ffc1;
	width: 250px;
	color: white;
} 
li {
	font-family: 'Roboto', sans-serif;
	color:white;
}
body {
	background-color: #000ba5;
}
table, tr, td {
	border-collapse:collapse;
	border:solid 1px #000000;
	margin: auto;
}
td {
	width:250px;
	height:300px;	
}