table, tr, td {
	border-collapse:collapse;
	border:solid 1px #000000;
	margin: auto;
}
td {
	width:250px;
	height:300px;	
}
table {
	background-color: #f00;
}
h1 {
	text-align: center;
	font-family: 'Abril Fatface', cursive;
	
	border-radius: 75%;
	width: 500px;
	margin: 30px auto;
	color:white;
}

h3,li {
	color:white; 
	font-family: 'Abril Fatface', cursive
}
p {
	text-align: center;
	font-family: 'Acme', cursive;
	font-size: 18px;
	color: white;
}
body {
	background-color: #000000;
}

